@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$bg-color: #ddd;
$header-font: 'Fira Sans', arial, sans-serif;
$body-font: 'Cantarell', arial, sans-serif;