@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

$special-font: 'Rubik', arial, sans-serif;

body {
  background-color: white!important;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  padding: .3rem;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 0;

  transition: background-color .3s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.wrapper {
  margin-top: 0!important;
  max-width: 1048px;
}

// ---------------------- Text Elements ------------------------

$font-color: black;

h2,
h3 {
  font-family: $special-font!important;
  font-weight: bold;
  font-size: 1.2rem!important;
}

body {
  color: $font-color;
}

i {
  font-style: italic;
}

.lighter {
  color: lighten($color: $font-color, $amount: 50%)
}

.smallcap {
  font-variant: small-caps;
}

.latest p,
cite {
  font-size: .75rem;
}

h2,
h3,
h4,
p {
  margin-bottom: .5rem!important;
}

// ---------------------- Images ------------------------

.full-img {
  width: 100%;
}

// ---------------------- Navbars ------------------------

.navbar {
  position: static!important;
  border-bottom: 2px solid black;
}

.subnav {
  border-bottom: none;
}

.navbar-heading {
  font-size: 1.5rem;
}

.menu,
.logo,
.circle {
  display: flex;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.menu button,
.circle {
  margin-left: 1rem;
}

.circle {
  justify-content: center;
  background-color: black;
  color: white;
  font-size: .7rem;

  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

ul {
  display: flex;
}

li {
  margin-right: 1.2rem;
}

nav a:hover {
  color: lighten(black, 50%);
}

// ---------------------- Grid Elements ------------------------

.top-columns {
  border-bottom: 1px solid gray;
}

.main-feature,
.featured,
.latest,
.interactive {
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.latest:first-of-type,
.interactive:first-of-type {
  border-top: 1px solid gray;
  padding-top: 1rem;
}

.center-button {
  justify-content: center;
}

.podcast {
  background-color: rgb(226, 201, 154);
  padding-top: 1rem;
}

.play,
.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  background-image: url(../images/staring-fox.jpg);
  background-size: cover;
  padding: 1rem;
}

.video {
  min-height: 400px;
  position: relative;
}

.video:after {
  content: "";
  background-image: url(../images/fighting-foxes.jpg);
  background-size: cover;
  opacity: .5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.vid-buttons {
  justify-content: space-between;
}

.newsletter {
  background-color: rgb(226, 201, 154);
  padding: 1rem;
  margin-top: 1rem;
  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    margin-top: 1rem;
    font-size: .8rem;
    line-height: 1rem;
    a {
      color: rgb(0, 110, 255);
    }
  }
  h2 {
    margin-left: 1rem;
    margin-bottom: 0!important;
  }
  h3 {
    margin-top: 1rem;
  }
  h2:hover,
  h3:hover {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.control {
  justify-content: space-between;
  input,
  button {
    width: 100%;
    height: 100%;
    padding: .4rem;
  }
}

.interactive {
  .row {
    justify-content: center;
  }
  .graphic {
    display: flex;
    flex-direction: column;
    border-top: 1px solid gray;
    padding-top: .5rem;
  }
  .team {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
  }
  .team:first-of-type {
    margin-top: .5rem;
  }
  h4 {
    font-family: $special-font!important;
    font-weight: bold;
  }
}

.interactive:last-of-type {
  border-bottom: none;
}

// ---------------------- Footer ------------------------

footer {
  background-color: rgb(36, 36, 36);
  color: white;
  width: 100%;
  padding: 3rem 1rem;
  margin-top: 3rem;

  .row {
    border-bottom: 1px solid gray;
  }

  .social {
    justify-content: center;
    border-top: 1px solid gray;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .copyright {
    margin-top: 1rem;
  }

  button {
    background-color: rgb(0, 110, 255);
    color: white;
    border-radius: 5%;
  }

  button:hover {
    background-color: darken($color: rgb(0, 110, 255), $amount: 20%);
  }

  ul {
    flex-direction: column;
  }

  li {
    margin-top: 1rem;
  }

  a:hover {
    color: darken($color: white, $amount: 50%);
  }
}

.darker {
  color: #666;
  a {
    color: white;
  }
}

.power {
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// ---------------------- Utilities ------------------------

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.mt-0 {
  margin-top: 0!important;
}

.bb-0 {
  border-bottom: 0!important;
}

//****************************************************************************
// ---------------- Mobile -----------------
@media screen and (max-width: 766px) {
  .no-mobile {
    display: none!important;
  }
  .story {
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
  }
  .story:first-of-type {
    border-top: 1px solid gray;
  }
  .graphs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .interactive {
    width: 100%;
    max-width: 400px;
  }
}

// ---------------- Mobile+Tablet -----------------
@media screen and (max-width: 1023px) {
  .desktop-only {
    display: none!important;
  }
}

// ---------------- Tablet+Desktop -----------------
@media screen and (min-width: 767px) {
  .mobile-only {
    display: none!important;
  }
  .feed,
  .left-column {
    border-right: 1px solid gray;
    padding-right: .6rem;
  }
  .more {
    border-top: 1px solid gray;
    position: relative;
    .row {
      flex-direction: column;
      flex-direction: column-reverse;
    }
  }
  h2:hover,
  h3:hover {
    text-decoration: underline;
    text-decoration-color: gray;
  }
  footer {
    >.row:first-child {
      justify-content: space-between;
      align-items: center;
    }
    button {
      margin-bottom: 1rem;
    }
    ul {
      flex-direction: row;
    }
  }
}

// ---------------- Desktop only -----------------
@media screen and (min-width: 1024px) {
  .wrapper {
    margin-left: auto!important;
    margin-right: auto!important;
  }
  .mail {
    flex-direction: row!important;
  }
  .sign-up {
    align-items: flex-start!important;
  }
}