body {
  background-color: white!important;
}

.test {
  // border: 1px solid darkcyan;
  min-height: 100px;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  padding: .3rem;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 0;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.wrapper {
  margin-top: 0!important;
  max-width: 1048px;
}

// ---------------------- Text Elements ------------------------

$font-color: black;

body {
  color: $font-color;
}

.lighter {
  color: lighten($color: $font-color, $amount: 50%)
}

.smallcap {
  font-variant: small-caps;
}

.latest p,
cite {
  font-size: .75rem;
}

h2,
h3,
h4,
p {
  margin-bottom: .5rem!important;
}

h3 {
  font-size: 1.5rem!important;
}

// ---------------------- Images ------------------------

.full-img {
  width: 100%;
}

// ---------------------- Navbars ------------------------

.navbar {
  position: static!important;
  border-bottom: 2px solid black;
}

.subnav {
  border-bottom: none;
}

.navbar-heading {
  font-size: 1.5rem;
}

.menu,
.logo,
.circle {
  display: flex;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.menu button,
.circle {
  margin-left: 1rem;
}

.circle {
  justify-content: center;
  background-color: black;
  color: white;
  font-size: .7rem;

  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

ul {
  display: flex;
}

li {
  margin-right: 1.2rem;
}

nav a:hover {
  color: lighten(black, 50%);
}

// ---------------------- Grid Elements ------------------------

.main-feature,
.featured,
.latest,
.interactive {
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.latest:first-of-type,
.interactive:first-of-type {
  border-top: 1px solid gray;
  padding-top: 1rem;
}

.podcast {
  background-color: rgb(226, 201, 154);
  padding-top: 1rem;
}

// ---------------------- Footer ------------------------

footer {
  background-color: black;
  color: white;

  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

// ---------------------- Utilities ------------------------

.align-left {
  text-align: left;
}

.mt-0 {
  margin-top: 0!important;
}

//****************************************************************************
// ---------------- Mobile -----------------
@media screen and (max-width: 766px) {
  .no-mobile {
    display: none!important;
  }
  .story {
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
  }
  .story:first-of-type {
    border-top: 1px solid gray;
  }
}

// ---------------- Mobile+Tablet -----------------
@media screen and (max-width: 1023px) {
  .desktop-only {
    display: none!important;
  }
}

// ---------------- Tablet+Desktop -----------------
@media screen and (min-width: 767px) {
  .mobile-only {
    display: none;
  }
  .feed,
  .left-column {
    border-right: 1px solid gray;
    padding-right: .6rem;
  }
  .more {
    border-top: 1px solid gray;
    position: relative;
    .row {
      flex-direction: column;
      flex-direction: column-reverse;
    }
  }
  h2:hover,
  h3:hover {
    text-decoration: underline;
    text-decoration-color: gray;
  }
}

// ---------------- Desktop only -----------------
@media screen and (min-width: 1024px) {
  .wrapper {
    margin-left: auto!important;
    margin-right: auto!important;
  }
}