@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: white !important;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  padding: 0.3rem;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 0;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.wrapper {
  margin-top: 0 !important;
  max-width: 1048px;
}

body {
  color: black;
}

i {
  font-style: italic;
}

.lighter {
  color: gray;
}

.smallcap {
  font-variant: small-caps;
}

.latest p,
cite {
  font-size: 0.75rem;
}

h2,
h3,
h4,
p {
  margin-bottom: 0.5rem !important;
}

h3 {
  font-size: 1.5rem !important;
}

.full-img {
  width: 100%;
}

.navbar {
  position: static !important;
  border-bottom: 2px solid black;
}

.subnav {
  border-bottom: none;
}

.navbar-heading {
  font-size: 1.5rem;
}

.menu,
.logo,
.circle {
  display: flex;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.menu button,
.circle {
  margin-left: 1rem;
}

.circle {
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 0.7rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

ul {
  display: flex;
}

li {
  margin-right: 1.2rem;
}

nav a:hover {
  color: gray;
}

.top-columns {
  border-bottom: 1px solid gray;
}

.main-feature,
.featured,
.latest,
.interactive {
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.latest:first-of-type,
.interactive:first-of-type {
  border-top: 1px solid gray;
  padding-top: 1rem;
}

.center-button {
  justify-content: center;
}

.podcast {
  background-color: #e2c99a;
  padding-top: 1rem;
}

.play,
.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  background-image: url(../images/staring-fox.jpg);
  background-size: cover;
  padding: 1rem;
}

.video {
  min-height: 400px;
  position: relative;
}

.video:after {
  content: "";
  background-image: url(../images/fighting-foxes.jpg);
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.vid-buttons {
  justify-content: space-between;
}

.newsletter {
  background-color: #e2c99a;
  padding: 1rem;
  margin-top: 1rem;
}
.newsletter > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter p {
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1rem;
}
.newsletter p a {
  color: #006eff;
}
.newsletter h2 {
  margin-left: 1rem;
  margin-bottom: 0 !important;
}
.newsletter h3 {
  margin-top: 1rem;
}
.newsletter a:hover {
  text-decoration: underline;
}

.control {
  justify-content: space-between;
}
.control input,
.control button {
  width: 100%;
  height: 100%;
  padding: 0.4rem;
}

.interactive .row {
  justify-content: center;
}
.interactive .graphic {
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
  padding-top: 0.5rem;
}
.interactive .team {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.interactive .team:first-of-type {
  margin-top: 0.5rem;
}

.interactive:last-of-type {
  border-bottom: none;
}

footer {
  background-color: #242424;
  color: white;
  width: 100%;
  padding: 3rem 1rem;
  margin-top: 3rem;
}
footer .row {
  border-bottom: 1px solid gray;
}
footer .social {
  justify-content: center;
  border-top: 1px solid gray;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer .copyright {
  margin-top: 1rem;
}
footer button {
  background-color: #006eff;
  color: white;
  border-radius: 5%;
}
footer button:hover {
  background-color: #004299;
}
footer ul {
  flex-direction: column;
}
footer li {
  margin-top: 1rem;
}
footer a:hover {
  color: gray;
}

.darker {
  color: #666;
}
.darker a {
  color: white;
}

.power {
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.mt-0 {
  margin-top: 0 !important;
}

.bb-0 {
  border-bottom: 0 !important;
}

@media screen and (max-width: 766px) {
  .no-mobile {
    display: none !important;
  }

  .story {
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
  }

  .story:first-of-type {
    border-top: 1px solid gray;
  }

  .graphs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .interactive {
    width: 400px;
  }
}
@media screen and (max-width: 1023px) {
  .desktop-only {
    display: none !important;
  }
}
@media screen and (min-width: 767px) {
  .mobile-only {
    display: none !important;
  }

  .feed,
.left-column {
    border-right: 1px solid gray;
    padding-right: 0.6rem;
  }

  .more {
    border-top: 1px solid gray;
    position: relative;
  }
  .more .row {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  h2:hover,
h3:hover {
    text-decoration: underline;
    text-decoration-color: gray;
  }

  footer > .row:first-child {
    justify-content: space-between;
    align-items: center;
  }
  footer button {
    margin-bottom: 1rem;
  }
  footer ul {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .mail {
    flex-direction: row !important;
  }

  .sign-up {
    align-items: flex-start !important;
  }
}
* {
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  font-family: "Cantarell", arial, sans-serif;
}

h1 {
  font-family: "Fira Sans", arial, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Fira Sans", arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Fira Sans", arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 5rem;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.navbar {
  width: 100%;
  min-height: fit-content;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-heading {
  margin-bottom: 0;
}

.grid_1 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 7.3333333333%;
}

.grid_2 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 15.6666666667%;
}

.grid_3 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 24%;
}

.grid_4 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 32.3333333333%;
}

.grid_5 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 40.6666666667%;
}

.grid_6 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 49%;
}

.grid_7 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 57.3333333333%;
}

.grid_8 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 65.6666666667%;
}

.grid_9 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 74%;
}

.grid_10 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 82.3333333333%;
}

.grid_11 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90.6666666667%;
}

.grid_12 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 99%;
}

.left_offset_none {
  margin-left: 0.5%;
}

.left_offset_1 {
  margin-left: 8.8333333333%;
}

.left_offset_2 {
  margin-left: 17.1666666667%;
}

.left_offset_3 {
  margin-left: 25.5%;
}

.left_offset_4 {
  margin-left: 33.8333333333%;
}

.left_offset_5 {
  margin-left: 42.1666666667%;
}

.left_offset_6 {
  margin-left: 50.5%;
}

.left_offset_7 {
  margin-left: 58.8333333333%;
}

.left_offset_8 {
  margin-left: 67.1666666667%;
}

.left_offset_9 {
  margin-left: 75.5%;
}

.left_offset_10 {
  margin-left: 83.8333333333%;
}

.left_offset_11 {
  margin-left: 92.1666666667%;
}

.right_offset_none {
  margin-right: 0.5%;
}

.right_offset_1 {
  margin-right: 8.8333333333%;
}

.right_offset_2 {
  margin-right: 17.1666666667%;
}

.right_offset_3 {
  margin-right: 25.5%;
}

.right_offset_4 {
  margin-right: 33.8333333333%;
}

.right_offset_5 {
  margin-right: 42.1666666667%;
}

.right_offset_6 {
  margin-right: 50.5%;
}

.right_offset_7 {
  margin-right: 58.8333333333%;
}

.right_offset_8 {
  margin-right: 67.1666666667%;
}

.right_offset_9 {
  margin-right: 75.5%;
}

.right_offset_10 {
  margin-right: 83.8333333333%;
}

.right_offset_11 {
  margin-right: 92.1666666667%;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .m_grid_1 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 7.3333333333%;
  }

  .m_grid_2 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15.6666666667%;
  }

  .m_grid_3 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 24%;
  }

  .m_grid_4 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 32.3333333333%;
  }

  .m_grid_5 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40.6666666667%;
  }

  .m_grid_6 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 49%;
  }

  .m_grid_7 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 57.3333333333%;
  }

  .m_grid_8 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 65.6666666667%;
  }

  .m_grid_9 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 74%;
  }

  .m_grid_10 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 82.3333333333%;
  }

  .m_grid_11 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90.6666666667%;
  }

  .m_grid_12 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 99%;
  }

  .m_left_offset_none {
    margin-left: 0.5%;
  }

  .m_left_offset_1 {
    margin-left: 8.8333333333%;
  }

  .m_left_offset_2 {
    margin-left: 17.1666666667%;
  }

  .m_left_offset_3 {
    margin-left: 25.5%;
  }

  .m_left_offset_4 {
    margin-left: 33.8333333333%;
  }

  .m_left_offset_5 {
    margin-left: 42.1666666667%;
  }

  .m_left_offset_6 {
    margin-left: 50.5%;
  }

  .m_left_offset_7 {
    margin-left: 58.8333333333%;
  }

  .m_left_offset_8 {
    margin-left: 67.1666666667%;
  }

  .m_left_offset_9 {
    margin-left: 75.5%;
  }

  .m_left_offset_10 {
    margin-left: 83.8333333333%;
  }

  .m_left_offset_11 {
    margin-left: 92.1666666667%;
  }

  .m_right_offset_none {
    margin-right: 0.5%;
  }

  .m_right_offset_1 {
    margin-right: 8.8333333333%;
  }

  .m_right_offset_2 {
    margin-right: 17.1666666667%;
  }

  .m_right_offset_3 {
    margin-right: 25.5%;
  }

  .m_right_offset_4 {
    margin-right: 33.8333333333%;
  }

  .m_right_offset_5 {
    margin-right: 42.1666666667%;
  }

  .m_right_offset_6 {
    margin-right: 50.5%;
  }

  .m_right_offset_7 {
    margin-right: 58.8333333333%;
  }

  .m_right_offset_8 {
    margin-right: 67.1666666667%;
  }

  .m_right_offset_9 {
    margin-right: 75.5%;
  }

  .m_right_offset_10 {
    margin-right: 83.8333333333%;
  }

  .m_right_offset_11 {
    margin-right: 92.1666666667%;
  }
}
@media screen and (min-width: 1024px) {
  .l_grid_1 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 7.3333333333%;
  }

  .l_grid_2 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15.6666666667%;
  }

  .l_grid_3 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 24%;
  }

  .l_grid_4 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 32.3333333333%;
  }

  .l_grid_5 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40.6666666667%;
  }

  .l_grid_6 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 49%;
  }

  .l_grid_7 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 57.3333333333%;
  }

  .l_grid_8 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 65.6666666667%;
  }

  .l_grid_9 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 74%;
  }

  .l_grid_10 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 82.3333333333%;
  }

  .l_grid_11 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90.6666666667%;
  }

  .l_grid_12 {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 99%;
  }

  .l_left_offset_none {
    margin-left: 0.5%;
  }

  .l_left_offset_1 {
    margin-left: 8.8333333333%;
  }

  .l_left_offset_2 {
    margin-left: 17.1666666667%;
  }

  .l_left_offset_3 {
    margin-left: 25.5%;
  }

  .l_left_offset_4 {
    margin-left: 33.8333333333%;
  }

  .l_left_offset_5 {
    margin-left: 42.1666666667%;
  }

  .l_left_offset_6 {
    margin-left: 50.5%;
  }

  .l_left_offset_7 {
    margin-left: 58.8333333333%;
  }

  .l_left_offset_8 {
    margin-left: 67.1666666667%;
  }

  .l_left_offset_9 {
    margin-left: 75.5%;
  }

  .l_left_offset_10 {
    margin-left: 83.8333333333%;
  }

  .l_left_offset_11 {
    margin-left: 92.1666666667%;
  }

  .l_right_offset_none {
    margin-right: 0.5%;
  }

  .l_right_offset_1 {
    margin-right: 8.8333333333%;
  }

  .l_right_offset_2 {
    margin-right: 17.1666666667%;
  }

  .l_right_offset_3 {
    margin-right: 25.5%;
  }

  .l_right_offset_4 {
    margin-right: 33.8333333333%;
  }

  .l_right_offset_5 {
    margin-right: 42.1666666667%;
  }

  .l_right_offset_6 {
    margin-right: 50.5%;
  }

  .l_right_offset_7 {
    margin-right: 58.8333333333%;
  }

  .l_right_offset_8 {
    margin-right: 67.1666666667%;
  }

  .l_right_offset_9 {
    margin-right: 75.5%;
  }

  .l_right_offset_10 {
    margin-right: 83.8333333333%;
  }

  .l_right_offset_11 {
    margin-right: 92.1666666667%;
  }
}

/*# sourceMappingURL=style.css.map */
